<% if logged_in? %>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    
    <div class="col-md-8">
      <h3>投稿</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <iframe src="https://calendar.google.com/calendar/embed?src=s0sausb3rt4cp7adbcme3rbt84%40group.calendar.google.com&ctz=Asia/Tokyo" 
style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<% else %>

<div class="center jumbotron">
  <h1>Handle your team's activities!! </h1>

  <h2>
    仲間とスケジュール、情報を共有して、スムーズに活動しよう！
  </h2>

  <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
</div>

            
<% end %>          